{% if user.user_type == '1' %}
<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top dashboard-topbar">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <div class="topbar-status d-none d-md-flex">
        <span class="status-badge">Student Prediction Admin Panel</span>
    </div>
    <ul class="navbar-nav ml-auto align-items-center">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.first_name }} {{ user.last_name }}</span>
                <img class="img-profile rounded-circle" src="/{{ user.profile_pic|default:'media/profile_pic/user.png' }}">
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'admin_profile' %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Profile</a>
                <a class="dropdown-item" href="{% url 'change_password' %}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</a>
            </div>
        </li>
    </ul>
</nav>
{% else %}
<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top dashboard-topbar">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <div class="topbar-status d-none d-md-flex">
        <span class="status-badge">Student Workspace</span>
    </div>
    <ul class="navbar-nav ml-auto align-items-center">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.first_name }} {{ user.last_name }}</span>
                <img class="img-profile rounded-circle" src="/{{ user.profile_pic|default:'media/profile_pic/user.png' }}">
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'student_profile' %}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Profile</a>
                <a class="dropdown-item" href="{% url 'prediction_form' %}"><i class="fas fa-chart-line fa-sm fa-fw mr-2 text-gray-400"></i>Prediction Form</a>
                <a class="dropdown-item" href="{% url 'prediction_history' %}"><i class="fas fa-history fa-sm fa-fw mr-2 text-gray-400"></i>Prediction History</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</a>
            </div>
        </li>
    </ul>
</nav>
{% endif %}
