{% load static %}
{% if user.user_type == '1' %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ERS Admin </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_employees' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>All Employees</span></a>
    </li>
   

</ul>

{% else  %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ERS Employee </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Employees Panel
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    
   
   
    <li class="nav-item">
        <a class="nav-link" href="{% url 'emp_education' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Add Education</span></a>
    </li>

    
    <li class="nav-item">
        <a class="nav-link" href="{% url 'emp_education_view' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Edit Educations</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'emp_exp' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Add Experiences</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'emp_experience_view' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Edit Experiences</span></a>
    </li>

    

    


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    

</ul>
{% endif %}