{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

   

    <title>Employee Record System - Employee Registrations</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                          <img src="{% static 'assets/img/195548-OY9OIN-908.jpg'%}" class="img-radius" alt="User-Profile-Image" width="400" height="600">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Employee Regsitrations</h1>
                                    </div>
                                    <form class="pt-3" action=""  method="POST" enctype="multipart/form-data">
                                        {% include 'includes/messages.html' %}
                                        {% csrf_token %}
                                      <div class="form-group">
                                        <input id="pic" type="file" class="form-control" name="pic" required="true">
                                      </div>
                                      <div class="form-group">
                                        <input id="first_name" type="text" class="form-control" placeholder="First Name" name="first_name" required="true">
                                      </div>
                                      <div class="form-group">
                                        <input id="last_name" type="text" class="form-control" placeholder="Last Name" name="last_name" required="true">
                                      </div>
                                      <div class="form-group">
                                        <input id="email" type="email" class="form-control" placeholder="Email" name="email" required="true">
                                      </div>
                                      <div class="form-group">
                                        <input id="username" type="text" class="form-control" placeholder="Enter Username" name="username" required="true">
                                      </div>
                                      <div class="form-group">
                                        <input id="mobno" type="text" class="form-control" placeholder="Mobile" name="mobno" maxlength="10" pattern="[0-9]+" required="true">
                                      </div>
                                      <div class="form-group">
                                        <input id="password" type="password" class="form-control" placeholder="Password" name="password" required="true">
                                      </div>
                                      <div class="mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">Register</button>
                                      </div>
                                      <div class="my-2 d-flex justify-content-between align-items-center">
                                        <div class="form-check">
                                            <a href="{% url 'login' %}">Do you have an account ?</a>
                                        </div>
                                      
                                      </div>
                                      
                                    
                                    </form>
                                    <hr>
                                  
                                    <div class="text-center">
                                        <a class="small" href="{% url 'empsignup' %}">Employee Regsitrations!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>

</body>

</html>