{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Education Details</h1>
       
    </div>

    <!-- Content Row -->
    <div class="row">
      {% if eedu %}

        <!-- Earnings (Monthly) Card Example -->
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <p style="font-size:16px; color:red" align="center">Your Education details already added. Now you can only edit the record. </p>
          <tr>
            <th>Post Graduate Course Name</th>
            <td>{{eedu.CoursePG}}</td>
          </tr>
          <tr>
            <th>Post Graduate School/College</th>
            <td>{{eedu.SchoolCollegePG}}</td>
          </tr>
          <tr>
            <th>Year of Passing in PG</th>
            <td>{{eedu.YearPassingPG}}</td>
          </tr>
          <tr>
            <th>Percent in PG</th>
            <td>{{eedu.PercentagePG}}</td>
          </tr>
          <tr>
            <th>Graduation Course Name</th>
            <td>{{eedu.CourseGra}}</td>
          </tr>
          <tr>
            <th>Graduate School/College</th>
            <td>{{eedu.SchoolCollegeGra}}</td>
          </tr>
          <tr>
            <th>Year of Passing in Graduation</th>
            <td>{{eedu.YearPassingGra}}</td>
          </tr>
          <tr>
            <th>Percent in Graduation</th>
            <td>{{eedu.PercentageGra}}</td>
          </tr>
          <th>SSC Course Name</th>
            <td>{{eedu.CourseSSC}}</td>
          </tr>
          <tr>
            <th>SSC School/College</th>
            <td>{{eedu.SchoolCollegeSSC}}</td>
          </tr>
          <tr>
            <th>Year of Passing in SSC</th>
            <td>{{eedu.YearPassingSSC}}</td>
          </tr>
          <tr>
            <th>Percent in SSC</th>
            <td>{{eedu.PercentageSSC}}</td>
          </tr>
          <th>HSC Course Name</th>
            <td>{{eedu.CourseHSC}}</td>
          </tr>
          <tr>
            <th>HSC School/College</th>
            <td>{{eedu.SchoolCollegeHSC}}</td>
          </tr>
          <tr>
            <th>Year of Passing in HSC</th>
            <td>{{eedu.YearPassingHSC}}</td>
          </tr>
          <tr>
            <th>Percent in HSC</th>
            <td>{{eedu.PercentageHSC}}</td>
          </tr>
          
          
          </table>
      
          {% else %}
        <!-- Pending Requests Card Example -->
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <h4 class="card-title">Education Details</h4>
         <hr>
        
       

            

<form class="user" method="post" action="">
  {% include 'includes/messages.html' %}
  {% csrf_token %}
 
  <div class="row">
   <div class="col-4 mb-3">Course Post Graduation</div>
      <div class="col-8 mb-3">   <input type="text" class="form-control form-control-user" id="CoursePG" name="CoursePG" aria-describedby="emailHelp" value=""></div>
       </div>  
       <div class="row">
         <div class="col-4 mb-3">School/College Post Graduation </div>
        <div class="col-8 mb-3">  <input type="text" class="form-control form-control-user" id="SchoolCollegePG" name="SchoolCollegePG" aria-describedby="emailHelp" value=""></div>  
        </div>



       <div class="row">
       <div class="col-4 mb-3">Year of Passing Post Graduation </div>
       <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="YearPassingPG" name="YearPassingPG" aria-describedby="emailHelp" value=""></div>
       </div>

       <div class="row">
         <div class="col-4 mb-3">Percentage in PG</div>
        <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="PercentagePG" name="PercentagePG" aria-describedby="emailHelp" value="">
       </div></div>
       <div class="row">
   <div class="col-4 mb-3">Course Graduation</div>
      <div class="col-8 mb-3">   <input type="text" class="form-control form-control-user" id="CourseGra" name="CourseGra" aria-describedby="emailHelp" value="" required="true"></div>
       </div>  
       <div class="row">
         <div class="col-4 mb-3">School/College Graduation </div>
        <div class="col-8 mb-3">  <input type="text" class="form-control form-control-user" id="SchoolCollegeGra" name="SchoolCollegeGra" aria-describedby="emailHelp" value="" required="true"></div>  
        </div>



       <div class="row">
       <div class="col-4 mb-3">Year of Passing Graduation </div>
       <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="YearPassingGra" name="YearPassingGra" aria-describedby="emailHelp" value="" required="true"></div>
       </div>

       <div class="row">
         <div class="col-4 mb-3">Percentage in Graduation</div>
        <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="PercentageGra" name="PercentageGra" aria-describedby="emailHelp" value="" required="true">
       </div></div>
       <div class="row">
   <div class="col-4 mb-3">Course SSC</div>
      <div class="col-8 mb-3">   <input type="text" class="form-control form-control-user" id="CourseSSC" name="CourseSSC" aria-describedby="emailHelp" value="" required="true"></div>
       </div>  
       <div class="row">
         <div class="col-4 mb-3">School/College SSC </div>
        <div class="col-8 mb-3">  <input type="text" class="form-control form-control-user" id="SchoolCollegeSSC" name="SchoolCollegeSSC" aria-describedby="emailHelp" value="" required="true"></div>  
        </div>



       <div class="row">
       <div class="col-4 mb-3">Year of Passing SSC </div>
       <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="YearPassingSSC" name="YearPassingSSC" aria-describedby="emailHelp" value="" required="true"></div>
       </div>

       <div class="row">
         <div class="col-4 mb-3">Percentage in SSC</div>
        <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="PercentageSSC" name="PercentageSSC" aria-describedby="emailHelp" value="" required="true">
       </div></div>
       <div class="row">
   <div class="col-4 mb-3">Course HSC</div>
      <div class="col-8 mb-3">   <input type="text" class="form-control form-control-user" id="CourseHSC" name="CourseHSC" aria-describedby="emailHelp" value="" required="true"></div>
       </div>  
       <div class="row">
         <div class="col-4 mb-3">School/College HSC </div>
        <div class="col-8 mb-3">  <input type="text" class="form-control form-control-user" id="SchoolCollegeHSC" name="SchoolCollegeHSC" aria-describedby="emailHelp" value="" required="true"></div>  
        </div>



       <div class="row">
       <div class="col-4 mb-3">Year of Passing HSC </div>
       <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="YearPassingHSC" name="YearPassingHSC" aria-describedby="emailHelp" value="" required="true"></div>
       </div>

       <div class="row">
         <div class="col-4 mb-3">Percentage in HSC</div>
        <div class="col-8 mb-3">
         <input type="text" class="form-control form-control-user" id="PercentageHSC" name="PercentageHSC" aria-describedby="emailHelp" value="" required="true">
       </div></div>
      
       <div class="row" style="margin-top:4%">
         <div class="col-4"></div>
         <div class="col-4">
         <input type="submit" name="submit"  value="submit" class="btn btn-primary btn-user btn-block">
       </div>
       </div>
     
     </form>
    
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    {% endif %}
    

</div>
{% endblock %}